---

import servicesImage from "@/assets/servicesImage.png"
import { Image } from "astro:assets"
import { Icon } from 'astro-icon/components';

---

<section class="w-full grid grid-cols-2 bg-linear-to-b from-[#f8f9fa] to-slate-200 items-center px-8 pt-28 pb-20">
    <div class="flex flex-col gap-y-6 text-sm">
        <div class="bg-[#ff6600]/35 opacity-75 flex w-50 items-center justify-center gap-x-2 text-xs font-semibold py-1 rounded-full ">
            <div class="w-2 h-2 rounded-full bg-[#ff6600]"/>
            <p class="opacity-90">
                NOSOTROS SOMOS
            </p>
		</div>
        <h3 class="text-7xl font-semibold">
            Nuestra vocacion <br/>
            es tu <span class="text-[#ff6600] italic">Tranquilidad</span>
        </h3>
        <p class="opacity-55">
            Creemos que detrás de cada póliza hay una historia que merece ser protegida. Trabajamos con cercanía y compromiso, buscando siempre brindar confianza y tranquilidad a quienes depositan en nosotros el cuidado de su futuro.
        </p>
        <div class="flex gap-x-4">
            <button class="p-3 bg-[#ff6600] shadow-xl rounded-md text-white">
                Hablar con un Experto
            </button>
            <button class="p-3 rounded-md">
                Asesoria Personalizada
            </button>
        </div>
    </div>
    <div class="flex justify-end relative">
        <Image src={servicesImage} alt="image" width={450} class="rounded-3xl shadow-2xl brightness-85"/>
        <div class="absolute text-sm -bottom-6 left-16 flex items-center justify-center gap-x-4 bg-white px-3 py-6 rounded-xl shadow-lg">

				<div class="bg-[#ff6600] rounded-full p-2 text-white">
					<Icon name="material-symbols:hiking-sharp" size={24}/>
				</div>

				<div class="">
					<p class="font-semibold">
						Apoyo Total
					</p>
					<p class="opacity-75">
						100% contigo
					</p>
				</div>
			</div>
    </div>
</section>