---

---

<footer class="w-full h-16 flex items-center justify-between px-8 text-sm">
    <h3 class="font-semibold text-base">GNP | Huehuetoca</h3>
    <ul class="opacity-55 flex gap-x-2">
        <li>Privacidad</li>
        <li>Terminos</li>
        <li>Soporte</li>
    </ul>
    <h3 class="opacity-55">
        2026 GNP Huehuetoca. All rights reserved.
    </h3>
</footer>