---

---

<section class="bg-slate-200 w-full flex flex-col items-center justify-center py-20 px-8">
    <div class="w-full max-w-5xl">
        <div class="mb-12">
            <h2 class="md:text-5xl text-2xl font-medium text-center">Preguntas Frecuentes</h2>
            <p class=" max-w-135 text-base text-center mx-auto mt-5">Respuestas claras a tus preguntas iniciales</p>
        </div>

        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-y-0">
            <div class="space-y-4">
                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Son agentes externos?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">No, no somos agentes externos; pertenecemos directamente a GNP a través de AESA, distinguidos por nuestra vocación de servicio y firme compromiso con nuestros clientes.</p>
                        </div>
                    </div>
                </details>

                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Cuales son los metodos de pago?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">Nuestros métodos de pago son mediante tarjeta de débito y, en el caso de servidores públicos, también contamos con la opción de descuento vía nómina, facilitando un proceso cómodo y seguro.</p>
                        </div>
                    </div>
                </details>

                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Mi informacion esta protegida?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">Tus datos están protegidos mediante infraestructura segura, conexiones cifradas y monitoreo continuo para garantizar su confiabilidad y seguridad.</p>
                        </div>
                    </div>
                </details>

                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Los pagos se realizan en linea?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">No, los pagos no se realizan en línea. Toda la información se solicita mediante el trato directo con el asesor, y los datos bancarios, como la cuenta CLABE, solo se solicitan hasta el momento de la contratación.</p>
                        </div>
                    </div>
                </details>
                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Recibiré asesoría durante la vigencia de mi póliza?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">Sí, contarás con acompañamiento y asesoría continua por parte de tu asesor para resolver dudas, realizar actualizaciones o brindarte apoyo cuando lo necesites.</p>
                        </div>
                    </div>
                </details>
            </div>

            <div class="space-y-4">
                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Quién puede contratar un seguro de vida?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">Cualquier persona mayor de edad puede contratar un seguro de vida para el y sus familiares mayores a 15 años, siempre que cumpla con los requisitos básicos de edad y salud establecidos por la aseguradora.</p>
                        </div>
                    </div>
                </details>

                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Puedo designar a cualquier persona como beneficiario?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">Sí, puedes designar libremente a las personas que desees como beneficiarios y modificarlos en cualquier momento si tus necesidades cambian.</p>
                        </div>
                    </div>
                </details>

                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿El seguro de vida tiene vigencia inmediata?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">La cobertura inicia una vez que la póliza es aceptada y emitida por la aseguradora, conforme a los términos establecidos en el contrato.</p>
                        </div>
                    </div>
                </details>

                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿Se puede contratar un seguro de vida para otra persona?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">Sí, es posible contratar un seguro para otra persona, siempre y cuando exista su consentimiento y se cumplan los requisitos correspondientes.</p>
                        </div>
                    </div>
                </details>
                <details name="faq-accordion" class="group rounded-lg  -neutral-800 bg-white shadow-xl transition-all duration-300 hover:bg-slate-100">
                    <summary class="flex cursor-pointer list-none items-center justify-between gap-4 p-3.5 [&::-webkit-details-marker]:hidden">
                        <span class="text-sm font-medium ">¿El seguro de vida genera algún ahorro o beneficio adicional?</span>
                        <div class="shrink-0 rounded p-1  transition-colors hover:bg-slate-200">
                            <svg class="block group-open:hidden" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            <svg class="hidden group-open:block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
                        </div>
                    </summary>
                    <div class="grid grid-rows-[0fr] opacity-0 transition-all duration-300 ease-in-out group-open:grid-rows-[1fr] group-open:opacity-100">
                        <div class="overflow-hidden">
                            <p class="px-3.5 pb-3.5 text-sm leading-relaxed ">Algunos planes de seguro de vida pueden incluir componentes de ahorro o beneficios adicionales, dependiendo del tipo de producto contratado.</p>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </div>
</section>