---

import heroImage from "@/assets/heroImage.png"
import { Image } from "astro:assets"
import { Icon } from 'astro-icon/components';

---

<section class="w-full grid grid-cols-1 md:grid-cols-2 bg-[#f8f9fa] text-center md:text-left items-center px-8 pt-28 pb-20 gap-16 md:gap-0">
    <div class="flex flex-col items-center md:items-start md:gap-y-6 gap-y-8 md:text-sm">
        <div class="bg-[#ff6600]/35 opacity-75 flex w-50 items-center justify-center gap-x-2 text-xs font-semibold py-1 rounded-full ">
            <div class="w-2 h-2 rounded-full bg-[#ff6600]"/>
            <p class="opacity-90">
                HABLA CON NOSOTROS
            </p>
		</div>
        <h3 class="md:text-7xl text-5xl font-semibold">
            Asesoria que<br/>
            inspira<br/>
             <span class="text-[#ff6600] italic">Confianza</span>
        </h3>
        <p class="opacity-55">
            En GNP Huehuetoca no vendemos polizas; diseñamos legados.<br/>

			Descubre una consultoria humana enfocada en proteger lo que más<br/>

			amas con estrategias a tu medida<br/>
        </p>
        <div class="flex gap-x-4 text-sm">
            <button class="p-3 bg-[#ff6600] shadow-xl rounded-md text-white">
                Hablar con un Experto
            </button>
            <button class="p-3 rounded-md">
                Asesoria Personalizada
            </button>
        </div>
    </div>
    <div class="flex md:justify-end justify-center relative">
        <Image src={heroImage} alt="image" width={450} class="rounded-3xl shadow-2xl brightness-85"/>
        <div class="absolute text-sm -bottom-6 left-16 flex items-center justify-center gap-x-4 bg-white px-3 py-6 rounded-xl shadow-lg">

				<div class="bg-[#ff6600] rounded-full p-2 text-white">
					<Icon name="material-symbols:hiking-sharp" size={24}/>
				</div>

				<div class="">
					<p class="font-semibold">
						Proteccion total
					</p>
					<p class="opacity-75">
						100% seguro
					</p>
				</div>
			</div>
    </div>
</section>