---

---

<section
    class="px-8 w-full flex flex-col items-center justify-center gap-y-8 py-8"
>
    <div class="text-center">
        <h3 class="text-3xl font-semibold">Nuestros Expertos</h3>
        <p class="opacity-55 mt-2 text-sm">
            Personas reales diseñando soluciones reales.
        </p>
    </div>
    <div class="grid grid-cols-3 grid-rows-2 gap-8">
        <div
            class="col-span-1 row-span-2 rounded-3xl shadow-2xl overflow-hidden h-120"
        >
            <img
                src="https://images.pexels.com/photos/8266925/pexels-photo-8266925.jpeg"
                alt="image"
                class="w-full h-full object-cover brightness-85"
            />
        </div>
        <div class="relative shadow-xl rounded-3xl text-sm">
            <div class="absolute bottom-4 left-4">
                <h3 class="font-semibold">Leonardo Kazuya</h3>
                <p>Especialista de seguros.</p>
            </div>
        </div>
        <div class="relative shadow-xl rounded-3xl text-sm">
            <div class="absolute bottom-4 left-4">
                <h3 class="font-semibold">Jair Velarde</h3>
                <p>Especialista de seguros.</p>
            </div>
        </div>

        <div
            class="rounded-3xl col-span-2 bg-slate-200 py-6 flex flex-col items-center gap-y-6"
        >
            <h3 class="text-[#ff6600] text-sm">--- Por que nosotros ---</h3>
            <p class="text-3xl font-bold text-center">
                Mas de 500 familias protegidas<br />
                con una vision humana.
            </p>
            <button class="border-b-2 text-sm w-40">
                Ver nuestra trayectoria
            </button>
        </div>
    </div>
</section>
