---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/navigation/Navbar.astro";
import "../styles/globals.css"
import Footer from "@/components/navigation/Footer.astro";

const { title, description } = Astro.props


---

<!doctype html>
<html lang="es-mx">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>

		<ClientRouter/>

		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">

	</head>
	<body>
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
